@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  --bg: #221f23;
  --primary: white;
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  background: var(--bg);
  color: var(--primary);
}

.page-cont {
  padding: 3rem;
}
.page-title {
  font-size: 5rem;
  font-family: Montserrat, sans-serif;
}
.subtitle {
  font-size: 2.3rem;
  font-family: Montserrat, sans-serif;
}
.text {
  max-width: 980px;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}
