@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,700&display=swap");
:root {
  --bg: #221f23;
  --print-bg: #221f23;
  --primary: #ffffff;
  --accent: #a733d1;
  --box-shadow: #000000;
  --font-size: 1.2rem;
  --subtitle-font-size: 2.3rem;
  --title-font: Montserrat, sans-serif;
}

@media print {
  html,
  body {
    height: auto;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: clip;
}

body {
  transition:
    color 0.5s ease-in-out,
    background 0.5s ease-in-out;
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-size: var(--font-size);
  line-height: 1.7;
  background: var(--bg);
  color: var(--primary);
}

body::after,
body::before {
  transition:
    color 0.5s ease-in-out,
    background 0.5s ease-in-out;
}

ul {
  margin-left: 2rem;
}

.transparent-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--primary);
}
.transparent-button:active {
  outline: none;
  border: none;
}

.page-cont {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-family: var(--title-font);
  margin-bottom: 1rem;
  margin-top: 2rem;
  position: relative;
}
.subtitle::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: var(--accent);
}

.text {
  max-width: 980px;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: var(--accent);
  text-decoration: underline;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.btn-title {
  font-size: 4.5vw;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1012px), (orientation: portrait) {
  .btn-title {
    font-size: 8vw;
  }
}
@media (max-width: 768px) {
  .btn-title {
    font-size: 15vw;
  }
  .text {
    font-size: 1.1rem;
  }
  .subtitle {
    font-size: 1.7rem;
  }
  .page-cont {
    padding: 1.5rem;
  }
}
