@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: clip;
}

body {
  --bg: #221f23;
  --primary: white;
  --accent: #a733d1;
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  background: var(--bg);
  color: var(--primary);
}

ul {
  margin-left: 2rem;
}
.page-cont {
  padding: 3rem;
}
.page-title {
  font-size: 5rem;
  font-family: Montserrat, sans-serif;
}
.subtitle {
  font-size: 2.3rem;
  font-family: Montserrat, sans-serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
}
.subtitle::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: var(--accent);
}
.text {
  max-width: 980px;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  color: var(--accent);
  text-decoration: underline;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.btn-title {
  font-size: 4.5vw;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1012px), (orientation: portrait) {
  .btn-title {
    font-size: 8vw;
  }
}
@media (max-width: 600px) {
  .btn-title {
    font-size: 15vw;
  }
  .text {
    font-size: 1.1rem;
  }
  .subtitle {
    font-size: 1.7rem;
  }
  .page-title {
    font-size: 3rem;
  }
}
